doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title IATI Studio | Prototype chartbuilder
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    link(rel='icon', href='https://www.iatistudio.com/wp-content/themes/IATI-Studio-shop/assets/images/icons/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='144x144', href='https://www.iatistudio.com/wp-content/themes/IATI-Studio-shop/assets/images/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://www.iatistudio.com/wp-content/themes/IATI-Studio-shop/assets/images/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://www.iatistudio.com/wp-content/themes/IATI-Studio-shop/assets/images/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='https://www.iatistudio.com/wp-content/themes/IATI-Studio-shop/assets/images/icons/apple-touch-icon.png')
    script.
      (function(d) {
      var config = {
      kitId: 'wim8txg',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
  body
    //if lt IE 9
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    div.container
      block body

    script.
      function loadCSS(href){
      var ss = window.document.createElement('link'),
      ref = window.document.getElementsByTagName('head')[0];
      ss.rel = 'stylesheet';
      ss.href = href;
      ss.media = 'only x';
      ref.parentNode.insertBefore(ss, ref);
      setTimeout( function(){
      ss.media = 'all';
      },0);
      }
      loadCSS('https://fonts.googleapis.com/icon?family=Material+Icons');
      loadCSS('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

    block feet